.nav-btn {
    border-radius: 30px;
    list-style-type: none;
    text-decoration: none;

}


ul li a:hover {
    color: aliceblue;
    background-color: rgb(138, 145, 145);
    border-radius: 30px;
}

  .logo-red {
    height: 35px;
    width: 35px;

    border-radius: 30px;
  }