footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .copyright {
    font-size: 14px;
    margin-top: 10px;
    
  }
  
  .footer-btn  {
    padding: 2px;
    height: 35px;
    background-color: #eee9e9;
    margin-bottom: 0px;

  }