/* .left-content {
    background-color: #e5e5e5;
  }
  
  .right-content {
    background-color: #f0f0f0; 
  }
  
  @media (max-width: 768px) {
    .left-content, .right-content {
      width: 100%;
    }
  }
   */
   .skills-btn {
    border-radius: 20px;
    height: 40px;
    width: 130px;
   }
  
   .skills-btn:hover {
    transition: border-color 0.3s;
    background-color: rgb(212, 232, 126);
    transform: scale(1.2);
  }


   .skillsdiv {
    /* max-width: fit-content; */
    max-height: fit-content; 
    padding: 3%;
   
    /* background-color: antiquewhite; */
   }